<table class="table table-dark">
    <tr>
        <th>Task</th>
        <th >Assign Date</th>
        <th >Finish Date</th>
        <th>Category</th>
        <th >Priority</th>
        <th>Status</th>       
    </tr>
    <tr *ngFor="let t of todos">
        <td>{{ t.task }}</td>
        <td>{{ t.assignDate }}</td>
        <td>{{ t.finishDate }}</td>
        <td>{{ t.category }}</td>
        <td>{{ t.priority }}</td>
        <td>{{ t.status }}</td>
        <td><button class="btn btn-warning" (click)="delete(t.todoId)">Delete</button></td>
        <!-- <td><button class="btn btn-info" (click)="edit(t.todoId)">Edit</button></td> -->
    </tr>
</table>
